<div class="bg d-flex align-items-center justify-content-center">
    <div class="content">
        <div class="planet">
            <div class="ring"></div>
            <div class="cover-ring"></div>
            <div class="spots">
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>

            </div>
        </div>
        <p>Loading...</p>
    </div>
    <small class="text-center">Welcome to my official website<br><span>- Thisura Rasanjana -</span></small>
</div>