<section id="section-1">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 col-sm-8 col-12 title">
            <h4 class="namePre">Hello, my name is</h4>
            <h1 class="name">Thisura Rasanjana</h1>
            <p class="nameTxt">And I'm highly motivated software developer and designer who aims to grow with experiences and professional skills.<br> I am confident in my strengths to achieve my targets. To obtain a professional position in the consulting industry utilizing
                my relevant experience, technical expertise, and problem-solving skills.</p>
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-5 col-12">
                <button mdbRipple type="button" class="btn btn-primary btn-lg hireBtn">Hire Me</button>
            </div>
        </div>
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-8 col-12">
            <img src="assets/images/me1.jpg" class="img-fluid shadow-2-strong" alt="" />
        </div>
    </div>
</section>
<section id="section-2" style="height: 50vh;">
    <div class="row text-center">
        <h2>About Me</h2>
        <h4>My Bio</h4>
    </div>
</section>
<section id="section-3" class="d-flex align-items-center justify-content-center" style="height: 50vh;">
    <p>Here it is #section-3</p>
</section>