#section-1 {
    padding: 4rem;
    padding-bottom: 0;
    margin-top: 2.5rem;
    height: auto;
}

h1 span {
    font-size: small;
    color: #ffffff;
}

.title .name {
    color: crimson;
}

.title .namePre {
    color: #ffffff;
}

.title .nameTxt {
    color: #e0e0e0;
}

.hireBtn {
    width: 100%;
    margin-bottom: 1rem;
}

#section-2 {
    background-color: #ffffff;
    padding: 4rem;
    height: auto;
}

.sec2Head {
    margin-bottom: 2rem;
}

#section-2 h2 {
    margin-bottom: 0;
    font-weight: bold;
}

#section-2 h4 {
    color: crimson;
    text-decoration: underline crimson;
}

.myImage2 img {
    border-radius: 20px;
}

.myImage2 .btnCV {
    width: 100%;
    margin-top: 1rem;
}

h5 {
    color: crimson;
    text-decoration: underline;
}

h6 {
    margin-top: 0.8rem;
    margin-bottom: 0;
}

.academic .card {
    margin-bottom: 1rem;
}

.academic .card i {
    margin-top: 1.5rem;
    font-size: 3rem;
}

.other .btn {
    margin: 0.5rem;
}